*{
    margin: 0;
    padding: 0;
    background-origin:border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    text-align: center;
    place-items: center;
    background-color: #1a1f38;
}

.circular{
    width: 200px;
    height: 200px;
    /* background: red; */
    position: relative;
    top: 20%;
    transform: scale(1.5);
}

.circular .inner{
    position: absolute;
    /* display: none; */
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 180px;
    width: 180px;
    margin: -90px 0 0 -90px;
    background: #1a1f38;
    border-radius: 100%;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.circular .bar{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #1a1f38;
    border-radius:100%;
    clip: rect(0px, 200px, 200px, 100px);
}

.circle .bar .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius:100%;
    clip: rect(0px, 100px, 200px, 0px);
    background: #c3b20f;
}
.circle .left .progress{
    z-index: 1;
    animation: left 0.5s linear both;
}
@keyframes left {
    100%{
        transform: rotate(180deg);
    }
}
.circle .right{
    z-index: 3;
    transform: rotate(180deg);
}
.circle .right .progress{
    animation: right 0.5s linear both;
    animation-delay: 0.5s;
}
@keyframes right {
    100%{
        transform: rotate(180deg);
    }
}

.circular .time{
    z-index: 7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.time input{
    width: 30px;
    height: 30px;
    border: none;
    text-align: center;
    color: #c3b20f;
    background: #1a1f38;
}
.time > label{
    color:#c3b20f;
    margin-right: 7px;
}

.buttons button{
    width: 100px;
    height: 50px;
    margin: 10px;
    font-weight: bold;
    color: #c3b20f;
    background: #1a1f38;
    border: 1px solid #c3b20f;
    border-radius: 5px;
}
.buttons button:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #c3b20f;
    color: #1a1f38;
}